inverted-pendulum
books
*-blx.bib
*.acr
*.acn
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.bst
*.dvi
*.glo
*.gl*
*.idx
*.ind
*.ilg
*.ist
*.lo?
*.mw
*.nlo
*.ntn
*.out
*.pdf
*.ps
*.rel
*.run.xml
*.sbl
*.slg
*.snm
*.sym
*.synctex.gz
*.tcp
*.thm
*.tdo
*.to?
*.tmp
*.tmproj
*.xwm
._*
._.DS_Store
.~lock*
auto
Thumbs.db
resources
*.DS_Store
*.a
*.dll
*.dylib
*.exe
*.o
*.obj
*.so
Debug
Release
.metadata
general-resources
